<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhitx.mediacrawler.core.resource.infra.ResourceRepository">
    <resultMap type="com.yunzhitx.mediacrawler.core.resource.domain.Resource" id="resourceResultMap">
        <id column="fd_id" property="id"/>
        <result column="fd_mediaId" property="mediaId"/>
        <result column="fd_resourceTypeId" property="resourceTypeId"/>
        <result column="fd_thirdId" property="thirdId"/>
        <result column="fd_fieldName" property="fieldName"/>
        <result column="fd_pinyin" property="pinyin"/>
        <result column="fd_type" property="type"/>
        <result column="fd_playType" property="playType"/>
        <result column="fd_name" property="name"/>
        <result column="fd_videoNo" property="videoNo"/>
        <result column="fd_resourceNo" property="resourceNo"/>
        <result column="fd_assetNo" property="assetNo"/>
        <result column="fd_playUrl" property="playUrl"/>
        <result column="fd_state" property="state"/>
        <result column="fd_serial" property="serial"/>
        <result column="fd_keyword" property="keyword"/>
        <result column="fd_language" property="language"/>
        <result column="fd_terminal" property="terminal"/>
        <result column="fd_captionsLanguage" property="captionsLanguage"/>
        <result column="fd_playCount" property="playCount"/>
        <result column="fd_remark" property="remark"/>
        <result column="fd_createDate" property="createDate"/>
        <result column="fd_updateDate" property="updateDate"/>
        <result column="fd_reserved1" property="reserved1"/>
        <result column="fd_reserved2" property="reserved2"/>
    </resultMap>

    <select id="selectResourceByVideoId" parameterType="Integer" resultMap="resourceResultMap">
        select * from media_resource where fd_mediaId =#{videoId}
    </select>

    <!--修改包的集数前先查出来源中最大的集数是第几集-->
    <select id="getMaxSerial" resultMap="resourceResultMap">
        SELECT MAX(fd_serial) as num FROM media_resource WHERE fd_mediaId in (
        SELECT fd_id FROM me_media where fd_parentId= #{_parameter}  AND fd_type='main')
        and fd_type ='main'
    </select>

    <delete id="deleteByMediaId">
        delete
            from media_resource
        where fd_mediaId = #{mediaId}
    </delete>
</mapper>